@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	margin: 0;
	
	font-family: 'Montserrat', sans-serif;
}

#header {
	text-align: center;
	background-color: #0079B8;
	height: 150px;
}

#header-title {
	font-size: 40px;
	font-style: bolder;
	color: white;
	text-transform: uppercase;
	padding-top: 50px;
	}
	
#header-subtitle {
	color: white;
	font-style: bold;
	text-transform: lowercase;
	font-size: 12px;
	letter-spacing: 0.2em;
	padding-top: 5px;
}

#menu {
	font-size: 15px;
	color: #4c5454;
	text-transform: lowercase;
	text-align: center;
}


#nav-title li {
	display: inline-block;
}

ul {
	list-style: none;	
}

li {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

#content {
	max-width: 1000px;
	margin: 0 auto;
	padding: 15px;
	text-align: center;
}

.page-title {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 5px 15px 15px 15px;
	
}

.profile {
	max-width: 700px;
	margin: 0 auto;
	text-align: left;
	padding: 20px 15px 15px 15px;
	display: inline;
}

.profile img {
	width: 150px;
	height: 150px;
	border-radius: 100px;
	display: inline-block;
	vertical-align: top;
	padding: 15px;
}


.profile-content {
	display: inline-block;
	padding: 15px;
	vertical-align: top;
	max-width: 600px;
}


button {
	background-color: #0079B8;
	color: white;
	border: none;
	text-align: center;	
	padding: 15px 32px;
	display: inline-block;
	margin: 20px;
	font-weight: bold;
	border-radius: 5px;
}

#footer {
	background-color: #2f2f2f;
	padding: 40px 0;
}

.footer-content {
	color: white;
	text-align: center;
	padding: 10px;
}

p {
	line-height: 1.8;
	font-size: 14px;
}



